.login-container {
  display: flex;
  height: 100vh;
  font-family: Times new roman ;
  alignment: justify;

}

/* LEFT SIDE */
.login-left {
  width: 50%;
  background: #f3f3f3;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-left p {
  font-size: 20px;
  color: #1a4fa3;
  margin-bottom: 40px;
  max-width: 400px;
}

.doctors-image {
  width: 350px;
}

/* RIGHT SIDE */
.login-right {
  width: 50%;
  background: #a9c3ea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 300px;
  text-align: center;
  position: relative;
}

.skip {
  position: absolute;
  top: -40px;
  right: 0;
  font-size: 14px;
  color: white;
  text-decoration: none;
}

.icon-circle {
  background: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px;
  font-size: 24px;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  border: none;
}

.forgot {
  text-align: right;
  font-size: 13px;
}

.forgot a {
  color: #0d47a1;
  text-decoration: none;
}

.login-btn {
  width: 100%;
  padding: 12px;
  border-radius: 20px;
  border: none;
  background: #0d47a1;
  color: white;
  font-weight: bold;
  margin-top: 15px;
  cursor: pointer;
}

.or {
  margin: 15px 0;
}

.social-icons img {
  width: 35px;
  margin: 0 10px;
  cursor: pointer;
}
