/* PAGE BACKGROUND */
.register-page {
  min-height: calc(100vh - 80px); /* below navbar */
  display: flex;
  justify-content: center;
  align-items: center;
  background: #a9c3ea;
}

/* CARD */
.register-card {
  width: 400px;
  background: transparent;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}

/* ICON */
.icon-circle {
  width: 70px;
  height: 70px;
  background: white;
  border-radius: 50%;
  margin: 0 auto 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
}

/* INPUTS */
.register-card input {
  padding: 14px;
  border-radius: 12px;
  border: none;
  font-size: 15px;
  width: 100%;
}

/* ROLE SECTION */
.role-section {
  text-align: left;
}

.role-section p {
  font-size: 14px;
  margin-bottom: 8px;
  font-weight: 500;
}

.role-options {
  display: flex;
  justify-content: space-between;
}

.role-options label {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}

/* BUTTON */
.register-btn {
  margin-top: 10px;
  padding: 14px;
  border-radius: 30px;
  border: none;
  background: #0d47a1;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

/* LOGIN LINK */
.login-text {
  margin-top: 10px;
}

.login-text a {
  color: #4b1fa3;
  font-weight: 500;
  text-decoration: none;
}
